.Xauthority
.bash_history
.cache
.config/GIMP/
.config/QtProject.conf
.config/dconf/
.config/gtk-3.0/
.config/libreoffice/
.config/mimeapps.list
.config/pulse/
.config/spotify/
.config/vivaldi/
.config/QtProject/
dev/
.gitconfig
.gnupg/
.gnupg
.lesshst
.local/
.mozilla/
.pki/
.python_history
.ssr/
.vim
.viminfo
.wine
.xsession-errors
.xsession-errors.old
Telegram\ Desktop/
.config/cava/
.config/htop/
.config/kazam/
.config/neofetch/
.config/JetBrains/
.config/ObinsKit/
.config/configstore/
.config/fontforge/
.config/inkscape/
.config/menus/
.config/openbox/
.config/qutebrowser/
.java/
.steam/
.steampath
.npm/
.steampid
.vim/
Desktop/
Downloads/
.themes/
.thunderbird/
.config/xfce4/xfce4-screenshooter
.config/cef_user_data/
.netrc
.profile
.pulse-cookie
.rustup/
.cargo/
.config/chromium/
.config/Code - OSS/
.config/VSCodium/
.pylint.d/
.vscode-oss/
.NERDTreeBookmarks
.config/bspwm/
.config/discord/
.config/enchant/
.config/gtk-2.0/
.config/keepassxc/
.ssh/
.stack/
.wget-hsts
pydebug/
